.project-page {
    
    height: 100vh; /* Set height to 100% of viewport height */
    text-align: center;
    background-color: #333;
    color: white;
  }

  
  .project-page-image {
    max-width: 80%; /* Make sure the image fills its container */
    max-height: 80%; /* Make sure the image fills its container */
  }
  
  h2 {
    padding-top: 40px;
    padding-bottom: 20px;
  }
  
  .description {
    margin-bottom: 10px; /* Add some margin between description and links */
  }
  
  .git-link,
  .deployed-link {
    display: inline-block;
    margin-right: 10px; /* Add some space between links */
    padding: 8px 12px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .git-link:hover,
  .deployed-link:hover {
    background-color: #0056b3; /* Darken the background color on hover */
  }
  